.artist li {
	display: flex;
}
.artist li:nth-child(odd) .img-wrapper {
	order: -1;
	margin-right: 40px;
	margin-left: 0;
}
.img-wrapper img {
	max-width: 100%;
}
@media (min-width: 600px) {
	.txt-wrapper {
		width: 60%;
	}
	.img-wrapper {
		width: 40%;
		margin-right: 0px;
		margin-left: 40px;
	}
}
