header {
  padding-top: 80px;
}
.header-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav ul li {
  margin-left: 0;
  margin-right: 4.8em;
  border: 1px greenyellow solid;
  padding: 1rem 1.2em;
}

.header-nav ul li a {
  display: block;
  text-decoration: none;
  color: #222;
}

.header-nav ul li a:hover {
  text-decoration: underline;
  color: #222;
}
